<div class="container mt-4">
  <h2 class="mb-4">Create New Subscription</h2>

  <form (ngSubmit)="createSubscription()">
    <div class="form-group">
      <label for="duration">Duration:</label>
      <input type="text" class="form-control" id="duration" [(ngModel)]="newSubscription.duration" name="duration" required>
    </div>

    <div class="form-group">
      <label for="finalPrice">Final Price:</label>
      <input type="number" class="form-control" id="finalPrice" [(ngModel)]="newSubscription.finalPrice" name="finalPrice" required>
    </div>

    <div class="form-group">
      <label for="classId">Class Name:</label>
      <select name="classId" ngModel>
        <option *ngFor="let item of ClassName" [value]="item.id">{{item.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Create Subscription</button>
  </form>
</div>

