<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Our {{ arrayOfItems[0]?.flag }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<div class="product-section d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 text-center strawberry" *ngFor="let item of arrayOfItems">
        <div class="single-product-item">
          <div class="product-image">
            <a routerLink="/itemDetails/{{item.id}}">
              <img src="https://localhost:7286/api/Images/getImages/{{item.image}}" alt="{{item.image}}" height="200px">
            </a>
          </div>
          <h3>{{item.name}}</h3>
          <p>Trainer: {{item.trainer}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

