
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>See more Details</p>
          <h1>{{itemDetails.flag}} Details</h1>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="single-product mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-img">
          <img src="assets/img/products/product-img-5.jpg" alt="">
        </div>
      </div>
      <div class="col-md-7">
        <div class="single-product-content">
          <h3>{{itemDetails.name}} {{itemDetails.flag}}</h3>
          <p class="single-product-pricing"><span>Per Months</span> ${{itemDetails.price}}</p>
          <p>{{itemDetails.description}}</p>

          <div class="single-product-form">
            <select (change)="storeAvailabelTimeId($event)">
              <option>Select available time</option>
              <option *ngFor="let item of availableTimesArray" value="{{item.id}}" >
                {{ item.startTime | date: 'HH:mm' }} - {{ item.endTime | date: 'HH:mm' }}
              </option>
            </select>
          </div>
          <div class="single-product-form">
            <a routerLink="/subscriptions/{{itemDetails.id}}" class="cart-btn">Select Subscription</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
