<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h2 class="widget-title">About Us</h2>
      <p>
        We are committed to providing the best service.
        Our mission is to create value for our customers and communities.
      </p>
    </div>
    <div class="footer-section">
      <h2 class="widget-title">Get in Touch</h2>
      <ul>
        <li>34/8, East Hukupara, Irbid, Jordan.</li>
        <li>+00 111 222 3333</li>
      </ul>
    </div>
    <div class="footer-section">
      <h2 class="widget-title">Pages</h2>
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/About">About</a></li>
        <li><a routerLink="/Shop">Shop</a></li>
        <li><a routerLink="/RecipesCategories">Nutrition</a></li>
        <li><a routerLink="/Contact">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>
