<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Subscriptions</h1>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="text-center mt-5" >
  <h2>Choose Your Plan!</h2>
</div>

<!-- end breadcrumb section -->
<div class="product-section d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 text-center" *ngFor="let item of arrayOfSubscriptions" >
        <div class="single-product-item border rounded p-4 shadow-sm">
          <h3 class="text-danger mb-3">
            {{item.finalPrice}}$ /
            <span style="font-size: 0.6em;">Total price</span>
          </h3>
          <hr>
          <h5 class="mb-3">{{item.duration}} Months</h5>
          <h6 class="text-success mb-3" *ngIf="item.duration != '1'">Save {{item.duration}}0%</h6>
          <h6 class="text-success mb-3" *ngIf="item.duration == '1'">Original price</h6>
          <a class="cart-btn mt-3" (click)="AddSubscription(item.id)">
            Choose Now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


