<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Subscriptions</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<div class="product-section  d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 text-center strawberry" *ngFor="let item of arrayOfSubscriptions">
        <div class="single-product-item">
          <div class="product-image">
          </div>
          <h3>{{item.duration}} Months</h3>

          <h4>Price: {{item.finalPrice}}$</h4>

          <p>Save {{item.duration}}%</p>

          <div class="product-image">
            <button type="button" class="btn-secondary" (click) ="AddSubscription(item.id)">
              Subscription Now
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
