<div class="container mt-5">
  <h2 class="mb-4">Update Gym/Class</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Trainer</th>
          <th>Description</th>
          <th>Price</th>
          <th>Flag</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" [(ngModel)]="item.image" name="image" placeholder="Image URL">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="item.name" name="name" placeholder="Name">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="item.trainer" name="trainer" placeholder="Trainer">
          </td>
          <td>
            <textarea class="form-control" [(ngModel)]="item.description" name="description" placeholder="Description" rows="3"></textarea>
          </td>
          <td>
            <input type="number" class="form-control" [(ngModel)]="item.price" name="price" placeholder="Price">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="item.flag" name="flag" placeholder="Flag">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center mt-3">
    <button (click)="updateItem()" class="btn btn-primary">Update Gym/Class</button>
  </div>
</div>
