<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Our Gym Services</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<div class="product-section  d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="container">
    <div class="row justify-content-center">
  <div class="col-lg-5 col-md-8 text-center strawberry"> 
        <div class="single-product-item">
          <div class="product-image">
            <a routerLink="/GymAndClassItems/GYM"><img src="assets/img/gymImage.jpeg" alt="gymImage.jpeg" height="300px"></a>
          </div>
          <h3>Local GYMs</h3>
        </div>
      </div>
      <div class="col-lg-5 col-md-8 text-center strawberry">
        <div class="single-product-item">
          <div class="product-image">
            <a routerLink="/GymAndClassItems/Class"><img src="assets/img/fitnessClass.jpg" alt="fitnessClass.jpg"height="300px"></a>
          </div>
          <h3>Fitness Class</h3>
        </div>
      </div>
    </div>
  </div>
</div>


