  <!--PreLoader-->
<div class="loader">
  <div class="loader-inner">
    <div class="circle"></div>
  </div>
</div>
<!--PreLoader Ends-->
<!-- search area -->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="close-btn"><i class="fas fa-window-close"></i></span>
        <div class="search-bar">
          <div class="search-bar-tablecell">
            <h3>Search For:</h3>
            <input type="text" placeholder="Keywords">
            <button type="submit">Search <i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end search arewa -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Fresh and Organic</p>
          <h1>Shop</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<!--Esraa Category Filters-->



<div class="row">
  <div class="col-md-12">
    <div class="product-filters">
      <ul>
        <li (click)="onFilterChanged('')" class="active" data-filter="*">All</li>
        <li *ngFor="let category of allCategoriesArray" (click)="onFilterChanged(category.id)">{{ category.name }}</li>
      </ul>
    </div>
  </div>
</div>



<!--Category Filters-->
<!--Product-->
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6" *ngFor="let product of allProductsArray" [ngClass]="'category-' + product.categoryId">
      <div class="single-product-item">
        <div class="product-image">
          <a href="single-product.html">
            <img src="{{ product.imageUrl }}" alt="{{ product.name }}">
          </a>
        </div>
        <h3>{{ product.name }}</h3>
        <p class="product-price"> {{ product.price }}$</p>
        <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
      </div>
    </div>
  </div>
</div>
<!-- end products -->
<!-- logo carousel -->
<div class="logo-carousel-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="logo-carousel-inner">
          <div class="single-logo-item">
            <img src="assets/img/company-logos/1.png" alt="">
          </div>
          <div class="single-logo-item">
            <img src="assets/img/company-logos/2.png" alt="">
          </div>
          <div class="single-logo-item">
            <img src="assets/img/company-logos/3.png" alt="">
          </div>
          <div class="single-logo-item">
            <img src="assets/img/company-logos/4.png" alt="">
          </div>
          <div class="single-logo-item">
            <img src="assets/img/company-logos/5.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end logo carousel -->
