<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Read the Details</p>
          <h1>Recipe Details</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<!-- single article section -->
<h2 class="pt-5">{{recipeDetails.name}}</h2>


<div class="mt-100 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="single-article-section">
          <div class="single-article-text">
            <div>
              <img src="https://localhost:7286/api/Images/RecipesImages/{{recipeDetails.image}}" alt="{{recipeDetails.image}}" height="500" width="600" />
            </div>           
          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar-section">
          <div style=" text-align: left;">
            <h4>Nutritional Facts</h4>
            <br />
            <ul style=" text-align: left; list-style-type: circle; ">
              <li *ngFor="let fact of recipeDetails.nutritionalFacts.split(',')">
                {{ fact.trim()}}
              </li>
            </ul>
          </div>

          <div style=" text-align: left;">
            <h4>Ingredients</h4>
            <br/>
            <ul style=" text-align: left; list-style-type: circle;">
              <li *ngFor="let fact of recipeDetails.ingredients.split(',')">
                {{ fact.trim()}}
              </li>
            </ul>
          </div>

          <div style=" text-align: left;">
            <h4>Steps</h4>
            <br />
            <ul style="text-align: left; list-style-type: circle; ">
              <li *ngFor="let fact of recipeDetails.description.split(',')">
                {{ fact.trim()}}
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

