<div class="container-fluid"> 
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="#" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li>
            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
          </li>
          <li>
            <a routerLink="/dash/ContactAdmin" class="nav-link px-0"> <span class="d-none d-sm-inline">Contact</span> 2 </a>
          </li>
          <li>
            <a routerLink="/dash/TestimonialAdmin" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Testimonial</span>
            </a>
          </li>
          <li>
            <a routerLink="/dash/Display_GymAndClasses" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Gym and Classes</span>
              </a></li>
          <li>
            <a routerLink="/dash/Orderhisstory" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Order History</span>
            </a>
            </li>
          <li>
            <a routerLink="/dash/Display-Subscription" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Display-Sybscription</span>
            </a>
            </li>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Itemmm</span> 7</a>
              </li>
              <li>
                <a routerLink="/dash/orderhistory" class="nav-link px-0">order history</a>
              </li>
            </ul>
          
          <li>
            <a routerLink="/dash/Display_GymAndClasses" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Gym and Classes</span>
            </a>
          </li>
          <li>
            <a routerLink="/dash/recipeDashboard" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Add Recipe</span>
            </a>
          </li>
          <li>
            <a routerLink="/dash/showrecipe" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Show Recipe</span>
            </a>
          </li>
          <li>
            <a routerLink="/dash/addTips" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Add Tips</span>
            </a>
          </li>
          <li>
            <a routerLink="/dash/AllTips" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Show Tips</span>
            </a>
          </li>
          <li>
            <a routerLink="/dash/Categories" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Show Categories</span>
            </a>
          </li>

          <li>
            <a routerLink="/dash/AllProduct" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Show Product</span>
            </a>
          </li>

        </ul>
        <hr>
        
      </div>
    </div>
    <div class="col py-3">


      <router-outlet></router-outlet>
    </div>
  </div>
</div>
