<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>My Cart</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->





<!--logged IN user cart-->
<!-- cart -->
<div class="cart-section mt-150 mb-150" *ngIf="userId != ''">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-12">
        <div class="cart-table-wrap">
          <table class="cart-table">

            <thead class="cart-table-head">
              <tr class="table-head-row">
                <th class="product-remove"></th>
                <th class="product-image">Product Image</th>
                <th class="product-name">Name</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
              </tr>
            </thead>

            <tbody *ngFor="let item of cartItemsList">
              <tr class="table-body-row">
                <td class="product-remove"><button type="button" (click)="deleteCartItem(item.id)">X</button></td>
                <td class="product-image"><img src="https://localhost:7286/api/Images/getImages/{{item.cp.image}}" alt="{{item.cp.name}}"></td>
                <td class="product-name">{{item.cp.name}}</td>
                <td class="product-price">{{item.cp.price | currency}}</td>
                <td class="product-quantity">

                  <button type="button" class="boxed-btn" (click)="changeCartItemQuantity(item.id, (item.quantity + 1))">+</button>
                  <input type="number" [(ngModel)]="item.quantity" (change)="changeCartItemQuantity(item.id, item.quantity)" min="1">
                  <button type="button" class="boxed-btn" (click)="changeCartItemQuantity(item.id, (item.quantity - 1))">-</button>

                </td>
                <td class="product-total">{{item.total | currency}}</td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="total-section">
          <table class="total-table">
            <thead class="total-table-head">
              <tr class="table-total-row">
                <th>Total</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr class="total-data">
                <td><strong>Subtotal: </strong></td>
                <td>{{cartTotal | currency}}</td>
              </tr>
              <tr class="total-data">
                <td><strong>Shipping: </strong></td>
                <td>{{shipping | currency}}</td>
              </tr>
              <tr class="total-data">
                <td><strong>Total: </strong></td>
                <td>{{cartTotalFinal | currency}}</td>
              </tr>
            </tbody>
          </table>
          <div class="cart-buttons">
            <a routerLink="/checkout" (click)="goToCheckout()" class="boxed-btn black">Go To Check Out</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end cart -->














<!--logged OUT user cart-->
<!-- cart -->
<div class="cart-section mt-150 mb-150" *ngIf="userId == ''">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-12">
        <div class="cart-table-wrap">
          <table class="cart-table">

            <thead class="cart-table-head">
              <tr class="table-head-row">
                <th class="product-remove"></th>
                <th class="product-image">Product Image</th>
                <th class="product-name">Name</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
              </tr>
            </thead>

            <tbody *ngFor="let item of BSCartItemsList">
              <tr class="table-body-row">
                <td class="product-remove"><button type="button" (click)="removeItem(item.productId)">X</button></td>
                <td class="product-image"><img src="https://localhost:7286/api/Images/getImages/{{item.image}}" alt="{{item.name}}"></td>
                <td class="product-name">{{item.name}}</td>
                <td class="product-price">${{item.price | number:'1.0-2'}}</td>
                <td class="product-quantity">

                  <button type="button" class="boxed-btn" (click)="changeBSCartItemQuantity(item.productId, (item.quantity + 1))">+</button>
                  <input type="number" [(ngModel)]="item.quantity" (change)="changeBSCartItemQuantity(item.productId, item.quantity)" min="1">
                  <button type="button" class="boxed-btn" (click)="changeBSCartItemQuantity(item.productId, (item.quantity - 1))">-</button>

                </td>
                <td class="product-total">{{item.itemTotal | number:'1.0-2'}}</td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="total-section">
          <table class="total-table">
            <thead class="total-table-head">
              <tr class="table-total-row">
                <th>Total</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr class="total-data">
                <td><strong>Subtotal: </strong></td>
                <td>${{cartTotal | number:'1.0-2'}}</td>
              </tr>
              <tr class="total-data">
                <td><strong>Shipping: </strong></td>
                <td>${{shipping | number:'1.0-2'}}</td>
              </tr>
              <tr class="total-data">
                <td><strong>Total: </strong></td>
                <td>${{cartTotalFinal | number:'1.0-2'}}</td>
              </tr>
            </tbody>
          </table>
          <div class="cart-buttons">
            <a routerLink="/checkout" (click)="goToCheckout()" class="boxed-btn black">Go To Check Out</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end cart -->
